---
import "../../styles/global.css";
import Layout from '../../layouts/Layout.astro'
import propiedades from '../../data/propiedades.json'
import PropertiesFilters from '@/components/PropertiesFilters.jsx'
import {toSlug, toPlural, toSingular } from '@/utils/utils.js'

export function getStaticPaths() {
	const paths = new Set();

	propiedades.forEach(p => {
		const operacion = p.operacion.toLowerCase();
		const tipo = toPlural(p.tipo.toLowerCase());
		const localidad = toSlug(p.localidad);

		paths.add(operacion);
		paths.add(tipo);
		paths.add(localidad);
		// Dos segmentos
		paths.add(`${operacion}/${tipo}`);
		paths.add(`${operacion}/${localidad}`);
		paths.add(`${tipo}/${localidad}`);
		// Tres segmentos
		paths.add(`${operacion}/${tipo}/${localidad}`);
	});

	return [
		{ params: { filtros: undefined } }, ...[...paths].map(path => ({ params: { filtros: path } }))
	];
}

const { filtros } = Astro.params;
const segmentos = filtros?.split("/") ?? [];

const resultado = propiedades.filter(p =>
	segmentos.every(s =>
		s === p.operacion.toLowerCase() ||
		s === toPlural(p.tipo.toLowerCase()) ||
		s === toSlug(p.localidad)
	)
);
const titulo = ''

console.log("resultado ABC", resultado);

---

<!-- normalmente se utiliza canonical para evitar que google indexe convinaciones de query filtros que son muchas  -->
<!-- pero porque??? -->
<!-- y a donde debo apuntar dependiendo el filtro activo -->
<!-- <head>  -->
	<!-- <link rel="canonical" href={`https://tusitio.com/propiedades/${operacion}/${tipo}`} /> -->
<!-- </head> -->

<Layout title={titulo}>
	<main class="max-w-[1400px] m-auto flex flex-col gap-4 pb-20">

<!-- 		<PropertiesFilters 
			client:only 
			titulo={titulo} 
			params={parsearFiltros(Astro.params.filtros)}

			propiedadesPaginadas={resultados}
			todasLasPropiedades={todos}
		/> -->
		<!-- <Map client:only="react" /> -->
	</main>
</Layout>

<!-- <style>
	
	#filter-menu:checked + .submenu {
		display: flex;
	}

</style> -->