---
const inputs = [
	{
		label: "Nombre y Apellido",
		name: "nombre",
		type: "text",
		required: true
	},
	{
		label: "Correo electrónico",
		name: "email",
		type: "email",
		required: false
	},
	{
		label: "Télefono / WhatsApp",
		name: "telefono",
		type: "tel",
		required: true
	},
	{
		label: "Mensaje",
		name: "mensaje",
		type: "textarea",
		required: false
	}
]

const { titulo, url } = Astro.props
const mensajePorDefecto = titulo 
	? `Hola, me interesa esta propiedad y quisiera más información. Muchas gracias.`
	: ''
---

<form action="https://formsubmit.co/consultas.brsilva@gmail.com" method="POST" class="flex flex-col gap-4 md:max-w-md w-full">

	<input type="hidden" name="_next" value={url ? `https://homesilva.com.ar/propiedades/${url}` : "https://homesilva.com.ar"}>
	{titulo && <input type="hidden" name="propiedad" value={titulo} />}

	{inputs.map(item => (
		<div key={item.name} class="flex flex-col gap-1 relative">
			{item.type !== "textarea" ? (
				<input 
					type={item.type} 
					autocomplete={item.type}
					id={item.name} 
					name={item.name} 
					required={item.required}
					placeholder=" "
					class={`${titulo ? 'pt-[1.3rem] pb-[.3rem] text-sm' : 'pt-7 pb-2'} peer bg-white w-full focus:outline-none px-4 border border-[#ddd] `}
				/>
			) : (
				<textarea 
					name={item.name} 
					id={item.name} 
					required={item.required} 
					placeholder="Mensaje"
					rows={4}
					class={`${titulo ? 'pt-[.8rem] pb-[.25rem] text-sm' : 'pt-4 pb-2'} px-4 peer bg-white min-h-[100px] max-h-[100px] w-full focus:outline-none border border-[#ddd]`}
				>{mensajePorDefecto}</textarea>
			)}

			<label 
				for={item.name} 
				class={`${
					item.type === 'textarea' ? 'sr-only'
					: 'top-[50%] -translate-y-[50%] peer-focus:top-[30%] peer-not-placeholder-shown:top-[30%]'}
					absolute left-4  text-sm text-gray-500 transition-all duration-200
					peer-focus:text-xs
					peer-focus:text-black
					peer-not-placeholder-shown:text-xs
					pointer-events-none
				`}
			>{item.label}</label>
		</div>
	))}

	<button type="submit" class='cursor-pointer bg-black text-white p-3 rounded-[12px]'>Enviar consulta</button>
	<p class={`${titulo ? 'text-xs' : 'text-sm'} text-wrap text-gray-400 w-full`}>Al enviar tu consulta, estás aceptando los <a href="" class="text-[#2e6ff1aa]">"Terminos y Condiciones"</a> y <a href="" class="text-[#2e6ff1aa]">"Política de privacidad"</a> de HomeSilva.</p>

</form>