---
import propiedades from '@/data/propiedades.json'
import Options from '@/components/Options.astro'
import {toSlug, toPlural} from '@/utils/utils.js'
import Carousel from '@/components/CarouselDefault.jsx'

const locImages = {
	"cordoba": '/localities/cordoba.jpg',
	"villa-carlos-paz": '/localities/cordoba.jpg',
	"la-falda": '/localities/la-falda.jpg',
	"valle-hermoso": '/localities/valle-hermoso.jpg',
	"tanti": '/localities/tanti.jpg'
}

const getCombinaciones = (props) => {
	const set = new Set();

	props.forEach(p => {
		if(!locImages[toSlug(p.locality.toLowerCase())]){ 
			return
		}

		const key = `${p.locality}|${p.type}|${p.operation}`
		set.add(key)
	})

	const combinaciones = [...set].map(item => {
		const [locality, type, operation] = item.split('|');
		return { locality, type, operation, img: locImages[toSlug(locality.toLowerCase())] };
	})
	const bloques = [];

	for (let i =0; i<combinaciones.length; i+=2){
		bloques.push(combinaciones.slice(i, i+2))
	}
	return bloques;
}

const localidades = getCombinaciones(propiedades)
const uniqueLocalities = [...new Set(propiedades.map(p => p.locality))]

const localities = [
	{
		title: "Ver todas",
		url: "/propiedades",
		childrens: [...uniqueLocalities.map(l => ({ title: l, url: `/propiedades/${toSlug(l.toLowerCase())}` }))]
	}
]
---

<section class="pb-20 py-10 lg:py-20 global-padding flex flex-col gap-5 max-w-[1400px] mx-auto">
	<h2 class="text-[20px] lg:text-4xl">Encuentra propiedades en las <br class="hidden lg:inline">diferentes localidades de Córdoba</h2>
	<h3 class="text-[#888] text-[18px] lg:text-2xl">Casas en Córdoba, departamentos en Nueva Córdoba, <br class="hidden">lotes en Zona Norte, inversiones en Villa Carlos Paz</h3>

	<nav>
		<ul class="flex gap-2 w-full">
			{localities.map(l => (
				<Options item={l} styles />
			))}
		</ul>
	</nav>
	<nav class="w-full overflow-hidden">
		<Carousel id={5} client:visible data={localidades} />
	</nav>

</section>
